<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome <%- user.userName %></h1>
    <h2>News Stories</h2>
    <% if(editStories != undefined){ %>
      <h3>Modifiable Stories</h3>
      <% for(var i in editStories){ %>
        <form action="/deleteStory" method="post">
        <a href="http://localhost:3003/stories?title=<%= editStories[i].TITLE %>&author=<%= editStories[i].AUTHOR %>&date=<%= editStories[i].DATE %>&content=<%= editStories[i].CONTENT %>"</a>
        <%- editStories[i].TITLE %></a>
        <button type="submit" name="title" value="<%= editStories[i].TITLE %>">Delete</button>
      </form>
        <br />
      <% }%> 

    <% }%> 
    <% if(readStories.length > 0){ %>
      <h3>Available Stories</h3>
      <% for(var i in readStories){ %>

        <a href="http://localhost:3003/stories?title=<%= readStories[i].TITLE %>&author=<%= readStories[i].AUTHOR %>&date=<%= readStories[i].DATE %>&content=<%= readStories[i].CONTENT %>"</a>
        <%- readStories[i].TITLE %></a>
        <br />
      <% }%> 

    <% }%> 
    <% if(lockedStories.length > 0){ %>
        <h3>Locked Stories</h3>
        <% for(var i in lockedStories){ %>
        <p><%- lockedStories[i].TITLE %></p>
      <% }%> 
    <% }%>


      <% if(user.role == "Reporter"){ %>
      <form name="edit" action="/editStories" method="get">
        <input type="Submit" value="Edit Story" name="edit" />
      </form>
      <form name="add" action="/addStory" method="get">
        <input type="Submit" value="Add Story" name="add" />
      </form>
      <% }%>
    <% if(user.userName == "guest"){ %>
    <form action="/login" method="get">
      <input type="Submit" value="Login" name="login" />
    </form>
    <% } else {%>
      <form action="/logout" method="get">
        <input type="Submit" value="Logout" name="logout" />
      </form>
    <% }%>
  </body>
</html>
